.article-list-container {
  max-width: 600px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: "center";
  margin: auto;
  text-align: left;
}

.article-image {
  align-self: flex-end;
  justify-self: flex-end;
  margin: 0 20px;
}
