.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 1.25rem;
}

.register-form-container h2 {
  margin-top: 60px;
}

.register-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Drop Zone */
#root > div > div.register-form-container > div > div.DropZone {
  width: 80%;
}